.bug-detail {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  width: 50%;
  border-radius: 10px;
  background-color: #403f83;
  padding: 1.2rem;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
  color: #f3f3f3;
}

.bug-title {
  color: #f3f3f3;
  font-size: 2rem;
}

.bug-text-margin {
  margin-left: 1rem;
}

.project-item__buttons a {
  margin: 1rem;
}
